.a4-page {
  position: relative;

  width: 210mm;
  height: 297mm;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  border: 1px solid #333;
  padding: 8mm;

  font-family: 'Times New Roman', Times, serif;
}

.section-container {
  position: relative;
  width: 100%;
  margin-top: 6mm;
  font-weight: 600;
  font-size: 18px;
}
.section-container::after {
  content: '';
  position: absolute;
  bottom: -1.5mm;
  left: 0mm;
  width: 100%;
  height: 0.8mm;
  background-color: black;
}

.section-content {
  margin-top: 4mm;
  line-height: 1.3em;
}
